body {
    background-color: #ECF2FF;
}

hr{
    border-style: dotted none none;
    border-width: 6px;
    border-color: gray;
    width: 5%;
}

h1 {
    color: #3E54AC;
}

h3 {
    color: #6071b3;
}

img {
    border-radius: 50%;
}